.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.vscode/
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/

*.class

# Translations #
i18n/*.po
i18n/*.class

.DS_Store
classes
out/
.scannerwork/

.keep
